
@media screen and (max-width: 768px)
    .icon
        width: 24px
        height: 24px
        top: 26px
    .title
        font-size: 24px
        line-height: 36px
        display: flex
        align-items: center

    .agrobot
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        align-items: center
        padding-left: 16px
        padding-right: 20px
        &__btn
            padding: 15px 25px
            margin-left: 0px
            position: absolute
            left: 70px
            bottom: 0px
    .banner
        &__title
            font-size: 70px
            line-height: 82px
        &__description
            font-size: 14px
            line-height: 16px
        &__text
            font-size: 14px
            line-height: 18px
        &__img-block
            display: inline-flex
            padding-top: 20px
            padding-left: -45px
            padding-top: 0px
        &__img
            display: flex
            flex-flow: column-reverse
            justify-content: flex-start
            align-items: flex-start
            &_big
                display: none
            &_small
                padding-left: 0px
                padding-right: 16px

    .goods
        padding: 16px 16px 45px 16px
        &__background
            display: none
        &__title
            margin: 30px 0px 34px 24px
        &__text
            font-weight: 400
            font-size: 14px
            line-height: 18px
            margin-top: 0
            margin-bottom: 20px
            &_full
                display: none
    .catalog
        grid-template-columns: 1fr
        grid-gap: 20px
        justify-content: center
    .product
        display: flex
        justify-content: center
        align-items: center
        gap: 14px
        padding: 20px
        &__icon
            width: 62px
            height: 62px
            margin: 0
        &__info
            margin-left: 6px
        &__title
            text-align: start
            margin-bottom: 3px
        &__description
            margin-bottom: 0
        &__btn
            display: none
        &__arrow
            display: inline-block

    .work
        padding: 0px 16px 16px 16px
        &__background
            display: none
        &__btn
            margin-bottom: 30px
        &__title
            margin-left: 25px
            margin-bottom: 33px
        &__icon
            left: -24px
    .work-process
        grid-template-columns: 1fr
        grid-auto-flow: inherit
        justify-items: center
        grid-gap: 38px
        margin-bottom: 50px
    .work-stage
        width: 328px
        &__title
            font-weight: 700
            font-size: 18px
            line-height: 26px
        &__description
            font-weight: 400
            font-size: 14px
            line-height: 18px
            width: 225px
            &_extra
                display: none
    .partners
        padding-left: 16px
        padding-right: 16px
        &__title
            font-size: 24px
            line-height: 36px
        &__text
            font-size: 14px
            line-height: 18px
    .bank
        grid-template-columns: 1fr 1fr
        grid-gap: 25px
        &__img
            width: 150px
    .footer
        grid-template-columns: 1fr
        padding: 30px 21px 30px 16px
        &__logo
            grid-area: 3/1/4/2
    .site-map
        grid-area: 1/1/2/2
        padding: 0
        &__list
            gap: 15px
            margin-bottom: 30px
        &__sublist
            &_sublist2
                flex: 0%
    .social
        grid-area: 2/1/3/2
        margin-bottom: 9px
    .copyright
        grid-area: 4/1/5/2
        max-width: 255px
